In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('applemobilitytrends-2020-05-27.csv')

In [3]:
df.head()

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27
0,country/region,Albania,driving,NaN,NaN,NaN,100.0,95.30,101.43,97.20,...,56.09,51.12,59.04,61.14,65.34,56.11,53.39,73.94,66.27,65.59
1,country/region,Albania,walking,NaN,NaN,NaN,100.0,100.68,98.93,98.46,...,67.46,63.20,66.57,67.97,68.49,48.02,42.56,74.97,70.66,65.67
2,country/region,Argentina,driving,NaN,NaN,NaN,100.0,97.07,102.45,111.21,...,40.01,41.34,41.53,41.52,47.52,41.34,23.81,28.11,40.86,42.91
3,country/region,Argentina,walking,NaN,NaN,NaN,100.0,95.11,101.37,112.67,...,30.79,30.37,28.85,29.04,31.99,31.40,16.83,21.37,30.85,33.27
4,country/region,Australia,driving,AU,NaN,NaN,100.0,102.98,104.21,108.63,...,73.58,75.83,76.35,81.42,82.51,65.78,74.12,77.10,79.92,82.65

In [ ]:
df.loc[df['geo_type'] == 'city', ]